In [1]:
import pandas as pd
import seaborn.apionly as sns
from IPython.display import Image

In [2]:
files = !ls thumb/*.png
iris = sns.load_dataset('iris')
image = Image('thumb/'+files[0])
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

##  How ?

In [3]:
from tree_format import format_tree
ip = get_ipython()
plain_formatter = ip.display_formatter.formatters['text/plain']
import ast
plain_formatter.for_type(ast.Module, format_tree)

In [4]:
import ast
ast.parse("""
for x in expr:
    x
y
""")

Module(body=[
    For(target=Name(id='x', ctx=Store()), iter=Name(id='expr', ctx=Load()), body=[
        Expr(value=Name(id='x', ctx=Load())),
      ], orelse=[]),
    Expr(value=Name(id='y', ctx=Load())),
  ])

In [5]:
%config ZMQInteractiveShell.ast_node_interactivity='last_expr'

In [6]:
'start'
for i in range(5):
    i
'end'

'end'

In [7]:
%config ZMQInteractiveShell.ast_node_interactivity='all'

In [8]:
'start'
for i in range(5):
    i
'end'
a = 42

'start'

0

1

2

3

4

'end'

In [10]:
set(iris['species'])

for sp in set(iris['species']):
    display(iris[iris['species'] == sp].head())

{'setosa', 'versicolor', 'virginica'}

     sepal_length  sepal_width  petal_length  petal_width    species
100           6.3          3.3           6.0          2.5  virginica
101           5.8          2.7           5.1          1.9  virginica
102           7.1          3.0           5.9          2.1  virginica
103           6.3          2.9           5.6          1.8  virginica
104           6.5          3.0           5.8          2.2  virginica

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

    sepal_length  sepal_width  petal_length  petal_width     species
50           7.0          3.2           4.7          1.4  versicolor
51           6.4          3.2           4.5          1.5  versicolor
52           6.9          3.1           4.9          1.5  versicolor
53           5.5          2.3           4.0          1.3  versicolor
54           6.5          2.8           4.6          1.5  versicolor

In [11]:
%config ZMQInteractiveShell.ast_node_interactivity='last_expr_or_assign'

In [12]:
'start'
for i in range(5):
    i
'end'
a = 42

42

In [13]:
iris = sns.load_dataset('iris')

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
5             5.4          3.9           1.7          0.4     setosa
6             4.6          3.4           1.4          0.3     setosa
7             5.0          3.4           1.5          0.2     setosa
8             4.4          2.9           1.4          0.2     setosa
9             4.9          3.1           1.5          0.1     setosa
10            5.4          3.7           1.5          0.2     setosa
11            4.8          3.4           1.6          0.2     setosa
12            4.8          3.0           1.4          0.1     setosa
13            4.3          3.0           1.1          0.1     setosa
14            5.8          4.0           1.2          0.2     setosa
15            5.7          4.4           1.5          0.4     setosa
16            5.4          3.9           1.3          0.4     setosa
17            5.1          3.5           1.4          0.3     setosa
18            5.7          3.8           1.7          0.3     setosa
19            5.1          3.8           1.5          0.3     setosa
20            5.4          3.4           1.7          0.2     setosa
21            5.1          3.7           1.5          0.4     setosa
22            4.6          3.6           1.0          0.2     setosa
23            5.1          3.3           1.7          0.5     setosa
24            4.8          3.4           1.9          0.2     setosa
25            5.0          3.0           1.6          0.2     setosa
26            5.0          3.4           1.6          0.4     setosa
27            5.2          3.5           1.5          0.2     setosa
28            5.2          3.4           1.4          0.2     setosa
29            4.7          3.2           1.6          0.2     setosa
..            ...          ...           ...          ...        ...
120           6.9          3.2           5.7          2.3  virginica
121           5.6          2.8           4.9          2.0  virginica
122           7.7          2.8           6.7          2.0  virginica
123           6.3          2.7           4.9          1.8  virginica
124           6.7          3.3           5.7          2.1  virginica
125           7.2          3.2           6.0          1.8  virginica
126           6.2          2.8           4.8          1.8  virginica
127           6.1          3.0           4.9          1.8  virginica
128           6.4          2.8           5.6          2.1  virginica
129           7.2          3.0           5.8          1.6  virginica
130           7.4          2.8           6.1          1.9  virginica
131           7.9          3.8           6.4          2.0  virginica
132           6.4          2.8           5.6          2.2  virginica
133           6.3          2.8           5.1          1.5  virginica
134           6.1          2.6           5.6          1.4  virginica
135           7.7          3.0           6.1          2.3  virginica
136           6.3          3.4           5.6          2.4  virginica
137           6.4          3.1           5.5          1.8  virginica
138           6.0          3.0           4.8          1.8  virginica
139           6.9          3.1           5.4          2.1  virginica
140           6.7          3.1           5.6          2.4  virginica
141           6.9          3.1           5.1          2.3  virginica
142           5.8          2.7           5.1          1.9  virginica
143           6.8          3.2           5.9          2.3  virginica
144           6.7          3.3           5.7          2.5  virginica
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [14]:
%config ZMQInteractiveShell.ast_node_interactivity='last_expr'

In [16]:
iris = sns.load_dataset('iris')

# ... and Async/Await

In [23]:
%autoawait False

In [24]:
import aiohttp

In [25]:
data = aiohttp.get('http://localhost:8888/api/contents')
data

In [26]:
resp = await data 
resp

SyntaxError: invalid syntax (<ipython-input-26-6e66546500af>, line 1)

:-(

In [27]:
%autoawait asyncio

In [28]:
resp = await data 
resp

<ClientResponse(http://localhost:8888/api/contents) [403 Forbidden]>
<CIMultiDictProxy('Server': 'TornadoServer/4.5.2', 'Content-Type': 'application/json', 'Date': 'Mon, 27 Nov 2017 19:14:30 GMT', 'Content-Security-Policy': "frame-ancestors 'self'; report-uri /api/security/csp-report; default-src 'none'", 'Content-Length': '40', 'Set-Cookie': 'username-localhost-8888=""; expires=Sun, 27 Nov 2016 19:14:30 GMT; Path=/')>

In [29]:
await resp.json()

{'message': 'Forbidden', 'reason': None}

In [30]:
await (await aiohttp.get('http://localhost:8888/api/contents')).json()

Exception in callback None()
handle: <Handle cancelled>
Traceback (most recent call last):
  File "/Users/bussonniermatthias/anaconda/lib/python3.6/asyncio/events.py", line 127, in _run
    self._callback(*self._args)
  File "/Users/bussonniermatthias/anaconda/lib/python3.6/asyncio/selector_events.py", line 731, in _read_ready
    self._protocol.data_received(data)
  File "/Users/bussonniermatthias/anaconda/lib/python3.6/asyncio/sslproto.py", line 503, in data_received
    ssldata, appdata = self._sslpipe.feed_ssldata(data)
  File "/Users/bussonniermatthias/anaconda/lib/python3.6/asyncio/sslproto.py", line 201, in feed_ssldata
    self._sslobj.do_handshake()
  File "/Users/bussonniermatthias/anaconda/lib/python3.6/ssl.py", line 694, in do_handshake
    match_hostname(self.getpeercert(), self.server_hostname)
  File "/Users/bussonniermatthias/anaconda/lib/python3.6/ssl.py", line 331, in match_hostname
    % (hostname, dnsnames[0]))
ssl.CertificateError: hostname 'api.github.com' doesn't match 'controller.access.network'

{'message': 'Forbidden', 'reason': None}

In [31]:
import trio

In [32]:
%autoawait trio

In [33]:
print('Going to sleep in trio')
await trio.sleep(2)
print('Awake')

Going to sleep in trio
Awake

In [34]:
%autoawait curio

In [35]:
import curio
print('Going to sleep in Curio')
await curio.sleep(2)
print('Awake')

Going to sleep in Curio
Awake